<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/post.css" %}" />
    <style>
      .comments img {
        max-width: 20px; /* تحديد عرض الصورة الأقصى */
        max-height: 20px; /* تحديد ارتفاع الصورة الأقصى */
      }
    </style>
  </head>
  <body>
    <div class="allpage">
      <div class="image">
        <img src="/media/{{ post.image }}" />
      </div>
      <div class="text">
        <div class="title">
          <h1>{{post.title}}</h1>
        </div>
        <p>
          {{post.content}}
        </p>
        <div class="coment">
          <form action="" method='post'>
            {% csrf_token %}
            <input type="text" name='comment' placeholder="Write Comment" />
            <button>Submit</button>
          </form>
        </div>

        {% for comment in comments %}
        <div class="comments">
          <div class="one">
            <img src="/media/{{profile.image}}" />
            <div class="name">
              <h3>{{comment.author}}</h3>
              <p>{{comment.content}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <a href="{% url 'blog' %}">X</a>
    </div>
  </body>
</html>