<!doctype html>
{% load static %}
<html lang="en">

<head>
   

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static "css/login.css" %}" />
        <script src="{% static "js/jquery-3.7.1.min.js" %}" defer></script>
        <script src="{% static "js/login.js" %}" defer></script>
  
</head>

<body>
    <div class="login-box">
        <h1>Login</h1>
        <div class="textbox">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <i class="fas fa-user"></i>
            <form method="post">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username">
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password">
        </div>

        <input type="submit" class="btn" value="Sign in">
        </form>
    </div>
</body>
</html>