/* تنسيق الصور في عنصر الوظيفة */
.job .image img {
    border-radius: 50%; /* جعل الصور دائرية */
    width: 100px; /* تحديد عرض الصورة */
    height: 100px; /* تحديد ارتفاع الصورة (قم بتغييرها حسب الحاجة) */
    object-fit: cover; /* للحفاظ على تناسق الصورة داخل الدائرة */
}
.pp{

text-align: center;
}

.home {
    background-color: #f9f9f9;
    padding: 20px;
}

/* ØªÙ†Ø³ÙŠÙ‚ Ø§Ù„Ø¹Ù†Ø§ØµØ± ÙÙŠ Ø§Ù„Ù‚Ø³Ù… Ø§Ù„Ø«Ø§Ù†ÙŠ */
.section2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* ØªÙ†Ø³ÙŠÙ‚ Ø§Ù„ÙˆØ¸ÙŠÙØ© */
.job {
    border: 1px solid #0d6efd;
    padding: 20px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.job:hover {
    transform: scale(1.1);
}

/* ØªÙ†Ø³ÙŠÙ‚ Ø¹Ù†ÙˆØ§Ù† Ø§Ù„ÙˆØ¸ÙŠÙØ© */
.job h2 {
    color: #0d6efd;
   
    /* يمكنك تغيير هذه القيمة حسب الحاجة */
    
}

/* ØªÙ†Ø³ÙŠÙ‚ Ø§Ù„ØªÙØ§ØµÙŠÙ„ ÙÙŠ Ø§Ù„Ù‚Ø³Ù… Ø§Ù„Ø«Ø§Ù†ÙŠ */
.text {
    text-align: center;
  
}

/* ØªÙ†Ø³ÙŠÙ‚ Ø§Ù„Ø¹Ù†Ø§ØµØ± ÙÙŠ Ø§Ù„Ù‚Ø³Ù… Ø§Ù„Ø±Ø§Ø¨Ø¹ */
.post {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ØªÙ†Ø³ÙŠÙ‚ Ø§Ù„Ù†Øµ ÙÙŠ Ø§Ù„Ø¹Ù†ØµØ± Ø§Ù„Ù…Ù†Ø¨Ø«Ù‚ */
.job-details {
    text-align: center;
    color: #17181a;
    transform: scale(1.1);
}

/* ØªÙ†Ø³ÙŠÙ‚ Ø§Ù„Ù…Ø²ÙŠØ¯ Ù…Ù† Ø§Ù„Ù…Ù…ÙŠØ²Ø§Øª */
.job-details p {
    margin-bottom: 10px;
}

.job-details span {
    cursor: pointer;
}